.navbar .login-btn {
    position: absolute;
    top: 7px;
    right: 95px;
}

.navbar .profil-btn {
    position: absolute;
    top: 10px;
    right: 35px;
}

@media (max-width: 767px) {
    .navbar .login-btn {
        right: 75px;
    }
}

.navbar .register-btn {
    position: absolute;
    top: 7px;
    right: 15px;
}

@media (max-width: 767px) {
    .navbar .register-btn {
        right: 175px;
    }
}

.bsp {
    background-color: #F5F5F5 !important;
}

.tbl-container {
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
}

.bdr {
    border-radius: 6px;
    overflow: hidden;
}